<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.fairshare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/appID" />

        <activity
            android:name=".activity.ViewTripActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CreateTripActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.TripDetails"
            android:label="@string/title_activity_trip_details"
            android:parentActivityName=".activity.ViewTripActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.cmu.fairshare.ViewTripActivity" />
        </activity>
        <activity
            android:name=".activity.TripDetailsEditActivity"
            android:label="@string/title_activity_trip_details_edit"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.ViewFriendsActivity"
            android:label="@string/title_activity_view_friends" >
        </activity>
    </application>

</manifest>
